nav a + a:before{
    content: " | ";
    padding: 0 10px;
}

.dropdown-menu{
    width:500px !important;
}

nav{
    text-transform: uppercase;
    opacity: 75%;
}

nav .navbar-brand img{
    width: 40px;
}

body{
    background-image: url(../img/DESIGN-DE-FOND.png);
    background-repeat: no-repeat;
    background-size: cover;
}
