nav a + a:before{
    content: " | ";
    padding: 0 10px;
}

.dropdown-menu{
    height: 272px !important;
    width:544px !important;
}

nav{
    text-transform: uppercase;
}

nav .navbar-brand img{
    width: 40px;
}
