/*About*/
.bodyabout {
  background-color: white;
}

.backgroundabout {
  height: 540px;
  background-image: url(/public/img/image53.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.thesense {
  display: flex;
  justify-content: center;
}

.thesense img {
  height: 400px;
  margin-top: 100px;
}

/*Team*/
.backgroundthesense {
  background-image: url(/public/img/Logogris.png);
  background-repeat: no-repeat;
  background-position: center;
}

.team {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.team p {
  font-size: 20px;
}

.team h3 {
  font-family: 'Abel', sans-serif;
  margin-bottom: 0;
  font-size: 40px;
}

.team h4 {
  font-family: 'Abel', sans-serif;
}

.turquoise {
  color: #82FFE1;
  text-transform: none;
}

.map {
  display: flex;
  margin-top: 100px;
}

.map img {
  height: 400px;
}

.horaires {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
}

.days {
  text-align-last: start;
}

.red {
  color: #9C0000;
}

.discover {
  margin-top: 200px;
  margin-bottom: 100px;
}

/*Contact*/
.contact {
  margin-top: 100px;
}