html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  background-image: url(../img/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

#Home {
  scroll-margin-top: 71.6px;
}

.row {
  --bs-gutter-x: 0;
}

.labelConnection {
  height: 200px;
}

/*Pour tous les textes en général*/
h1 {
  display: flex;
  justify-content: space-around;
  font-size: 20px;
  color: black;
}

h2 {
  text-transform: uppercase;
  font-family: 'Amiko', sans-serif;
  color: #3B4040;
}

h3 {
  text-transform: uppercase;
  font-family: 'Amiko', sans-serif;
  color: #3B4040;
}

p {
  color: #646363;
  font-family: 'Abel', sans-serif;
  font-size: 25px;
}

/*Boutton découvrir*/
.discoverButton {
  height: 61px;
  width: 263px;
  border-radius: 15px;
  background-color: black;
  color: white;
  text-transform: uppercase;
  font-size: 28px;
}

.discoverhome {
  margin-top: 100px;
  margin-bottom: 100px;
}

/*About*/
.background{
  height: 540px;
  background-image: url(../img/image53.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.thesense{
  display: flex;
  justify-content: center;
}

.thesense img{
  height: 400px;
  margin-top: 100px;
}

/*Bandeau bleu*/
.bandeaubleu{
  background-color: #eafffb;
}

.bandeaubleu p{
  font-size: 25px;
}

.imgronde{
  border-radius: 250px;
  border: 15px solid #bbccc9; 
}

.img img{
  height: 350px;
  margin-top: 25px;
  margin-bottom: 25px;
}

.description{
  margin-top: 100px;
}

/*Team*/
.team{
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.team p{
  font-size: 20px;
}

.team h3{
  font-family: 'Abel', sans-serif;
  margin-bottom: 0;
  font-size: 40px;
}

.team h4{
  font-family: 'Abel', sans-serif;
}

.turquoise{
  color: #82FFE1;
  text-transform: none;
}

.map{
  display: flex;
  margin-top: 100px;
}

.map img{
  height: 400px;
}

.horaires{
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
}

.days{
  text-align-last: start;
}

.red{
  color: #9C0000;
}