.bodyaccount {
    background-color: white;
}

.backgroundsense {
    background-image: url(/public/img/LogoBackground.png);
    background-repeat: no-repeat;
    background-position: center;
}

.backgroundaccount {
    height: 540px;
    background-image: url(/public/img/image53.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.account {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 86.5%;
}

.account h1 {
    font-family: 'Amiko', sans-serif;
    font-weight: bold;
    font-size: 120px;
    color: white;
    text-transform: uppercase;
}

/*Form se connecter et s'inscrire*/
.popUpLog {
    --bs-popover-max-width: 525px !important;
}

.btnform a:hover {
    transform: scale(1.06);
    transition: 100ms;
}

.labelLog {
    text-align: right;
}

.fromCoo {
    height: 262px;
}

.fromCoo .pout {
    border-radius: 5px;
    border-style: solid;
    border-color: #1BDCC5;
    width: 70%;
}

.fromCoo .fout {
    color: white;
    background-color: black;
    border-radius: 5px;
    font-family: 'Amiko', sans-serif;
    font-weight: bold;
    width: fit-content;
    text-align: center;
}

.form-label {
    margin-bottom: 0rem;
}

.labelLog a {
    text-decoration: none;
    color: black;
}

.fromCoo label {
    font-family: 'Amiko', sans-serif;
    font-weight: bold;
}

.oppai {
    font-size: 20px;
}

.backgroundsense h2 {
    font-family: 'Amiko', sans-serif;
}