/*bloc gris*/
.blocimg {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.blocgris {
    width: 95%;
    font-family: 'Abel', sans-serif;
    align-items: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    height: fit-content;
    background-color: var(--bg-color);
}

.blocgris.light {
    --bg-color: #EAFEFF;
}

.blocgris.dark{
    --bg-color: #616161;
}

.blocgris h3 {
    margin-top: 20px;
}

.blochome {
    display: flex;
}

.blochome h3 {
    margin-left: 20px;
}

.parag h4 {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}

.redirection a {
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    text-decoration: none;
}

.blochome .title {
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
}