/*btob*/
.bodyequipe {
  background-color: white;
}

.backgroundequipe {
  height: 540px;
  background-image: url(/public/img/image16.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.btob {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 86.5%;
}

.btob h1 {
  font-family: 'Amiko', sans-serif;
  font-weight: bold;
  font-size: 120px;
  color: white;
}

/*troiscase*/
.troiscase {
  margin-top: 100px;
}

.blocbtob {
  margin-top: 100px;
}


.blocbtob img{
  width: 770px;
  border-radius: 5px ;
}

.blocbleu {
  background-color: #eafffb;
  padding-top: 75px;
  padding-left: 20px;
  padding-bottom: 75px;
  border-radius: 20px;
}

.img8{
  height: 390px;
}