/* EQUIPEMENT*/ 


.ekip h1{
    font-family: 'Audiowide', cursive;
    font-size: 80px;
    color: white;
    position: absolute;
    bottom: 300px;
  }

.Bob{
    background-color: lightblue;
}

.Bob img{
    border-radius: 75%;
    border: 15px solid grey;
}


.txt {
    background-color: lightblue;
    border-radius: 10px;
    height: 350px;
    padding-top: 45px;
}

  .backgroundEkip{
    height: 650px;
    background-image: url(../img/backgroundEkip.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .ekip{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .txtesE {
    padding-left: 135px;
    padding-top: 100px;
  }
  
  .txtesE h3{
    font-size: 35px;
    font-family: 'Amiko', sans-serif;
    font-weight: bolder;
    padding-bottom: 5px;
  }
  
  .txtesE p{
    font-size: 25px;
    font-family: 'Abel', sans-serif;
    font-weight: 550;
    padding-bottom: 5px;
    width: 86%;
    color: black;
  }
  