html {
    scroll-behavior: smooth;
}

body {
    padding: 0;
    margin: 0;
    background-image: url(../img/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

#Home {
    scroll-margin-top: 71.6px;
}

.row {
    --bs-gutter-x: 0;
}

.labelConnection {
    height: 200px;
}

/*Pour tous les textes en général*/
h1 {
    display: flex;
    justify-content: space-around;
    font-size: 20px;
    color: black;
}

h2 {
    text-transform: uppercase;
    font-family: 'Amiko', sans-serif;
    color: #3B4040;
}

h3 {
    text-transform: uppercase;
    font-family: 'Amiko', sans-serif;
    color: #3B4040;
}

p {
    color: #646363;
    font-family: 'Abel', sans-serif;
    font-size: 25px;
}

/*Boutton découvrir*/
.discoverButton {
    height: 61px;
    width: 263px;
    border-radius: 15px;
    background-color: black;
    color: white;
    text-transform: uppercase;
    font-size: 28px;
}

.discoverhome {
    margin-top: 800px;
    margin-bottom: 100px;
}

/*Bandeau bleu*/
.bandeaubleu {
    background-color: #eafffb;
}

.bandeaubleu p {
    font-size: 25px;
}

.h1Home{
    display: flex;
    justify-content: start;
    font-size: 20px;
    font-family: 'Abel' , sans-serif;
    color: black;
    font-weight: bolder;
    padding-top: 50px;
}

.imgronde {
    border-radius: 250px;
    border: 15px solid #bbccc9;
}

.img img {
    height: 350px;
    margin-top: 25px;
    margin-bottom: 25px;
}

/*description*/
.description {
    margin-top: 100px;
}

/*bloc gris*/
.blocimg {
    margin-top: 100px;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.blocgris {
    width: 95%;
    background-color: #F2F2F2;
    align-items: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    height: fit-content;
}

.blocgris h3 {
    margin-top: 20px;
}

.blochome {
    display: flex;
}

.blochome h3 {
    margin-left: 20px;
}

.parag h4 {
    font-family: 'Poppins', sans-serif;
    color: red;
    font-size: 20px;
}

/*bloc gris news*/
.blocnews {
    margin-top: 100px;
}

.blocimgnews {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.blocgrisnews {
    width: 80%;
    background-color: #F2F2F2;
    color: #646363;
    font-family: 'Abel', sans-serif;
    align-items: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    text-align: center;
    height: fit-content;
}

.blocgrisnews h3 {
    margin-top: 20px;
}

.blocgrisnews p {
    font-size: 20px;
}

.redirection a {
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    color: #3B4040;
}

.blochome .title {
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
}

.reservebtn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.reservebtn .clc a {
    width: min-content;
}


/*avis*/
.avis {
    margin-top: 100px;
}

/*carouselavis*/
.carouselavis p {
    color: #3B4040;
    font-family: 'Abel', sans-serif;
    font-size: 30px;
}

.carouselavis .journal img {
    height: 95px;
    margin-bottom: 80px;
}

/*faq*/
.faq {
    margin-top: 100px;
    align-items: center;
    border: none;
}

.faq img {
    height: 15px;
    width: 15px;
    margin-right: 15px;

}

.faq span {
    color: #646363;
    font-family: 'Abel', sans-serif;
    font-size: 25px;
}

.question {
    margin-bottom: 10px;
}

/*booking*/
.nwar {
    background-color: #131313;
}

.nwar h2 {
    color: white;
    font-family: 'Amiko', sans-serif;
}

.nwar h3 {
    color: #9C0000;
    font-family: 'Abel', sans-serif;
}

.blocbooking {
    display: flex;
}

.blocbooking h4 {
    color: white;
    font-family: 'Abel', sans-serif;
}

.redday {
    color: #9C0000;
    font-family: 'Amiko', sans-serif;
}