/*NavBar*/
.navbar {
    background-color: rgba(255, 255, 255, 0.85) !important;
    position: fixed;
    z-index: 999;
    width: 100%;
    top: 0;
}

.navbar-nav {
    flex-direction: row !important;
}

.navbrand img {
    width: 66px;
    margin-left: 40px;
}

.list {
    justify-content: right;
    padding-right: 40px !important;
    text-align: center;
}

.list span {
    margin-bottom: 6px;
}

.navbarrr a {
    color: black !important;
    font-family: 'Amiko', sans-serif;
    text-transform: uppercase;
    margin-left: 5px !important;
    margin-right: 5px !important;
    text-decoration: none;
}

.navbarrr a:hover {
    transform: scale(1.06);
    transition: 100ms;
}

.test {
    border: none;
}

.NavLink {
    color: black !important;
    font-family: 'Amiko', sans-serif;
    text-transform: uppercase;
    font-size: 20px;
    margin-left: 5px !important;
    margin-right: 5px !important;
}

.test {
    border: none;
}