html {
    scroll-behavior: smooth;
}

body {
    padding: 0;
    margin: 0;
    background-image: url(../img/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

.sensei-room{
    --bg-color: white;
    --bg-header: url(../img/Header_LightRoom.png);
    --bg-content: url(../img/Content_LightRoom.png);
    --transition-duration: 300ms;
}

.sensei-room.dark{
    --bg-color: #131313;
    --bg-header: url(../img/Header_DarkRoom.png);
    --bg-content: url(../img/Content_DarkRoom.png);
}

.sensei-room.battle{
    --bg-color: black;
    --bg-content: url();
}

.sensei-room.creative{
    --bg-color: black;
    --bg-content: url();
}

.sensei-room .room-header{
    background-image: var(--bg-header);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--bg-color);
    height: 500px;
    transition: background-image var(--transition-duration), background-color var(--transition-duration);
}

.sensei-room .room-content{
    background-image: var(--bg-content);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--bg-color);
    height: 500px;
    transition: background-image var(--transition-duration), background-color var(--transition-duration);
}

.div-imgs-room {
    margin-top: 100px;
}

.div-img-room {
    height: 170px;
}

.img-room {
    height: 100%;

}

.img-room-principal {
    height: 100%;
}

.bodylight {
    background-color: white;
}

.bodydark {
    background-color: #131313;
}

.bodybattle {
    background-color: white;
}

#Home {
    scroll-margin-top: 71.6px;
}

.row {
    --bs-gutter-x: 0;
}

.labelConnection {
    height: 200px;
}

/*Pour tous les textes en général*/
h1 {
    display: flex;
    justify-content: space-around;
    font-size: 20px;
    color: black;
}

h2 {
    text-transform: uppercase;
    font-family: 'Amiko', sans-serif;
    color: #3B4040;
}

h3 {
    text-transform: uppercase;
    font-family: 'Amiko', sans-serif;
    color: #3B4040;
}

p {
    color: #646363;
    font-family: 'Abel', sans-serif;
    font-size: 25px;
}

/*Boutton découvrir*/
.discoverButton {
    height: 61px;
    width: 263px;
    border-radius: 15px;
    background-color: black;
    color: white;
    text-transform: uppercase;
    font-size: 28px;
}

.discoverhome {
    margin-top: 800px;
    margin-bottom: 100px;
}


/*Bandeau Lightroom*/
.bandeaulightroom {
    background-color: #EAFEFF;
}

.bandeaulightroom p {
    font-size: 25px;
    align-self: baseline;
}

.textebottom img{
    height: 70px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 25px;
}
 

.imgrondelightroom {
    border-radius: 250px;
    border: 15px solid #90CDC7;
}

.img img {
    height: 350px;
    margin-top: 25px;
    margin-bottom: 25px;
}

/*description*/
.description {
    margin-top: 100px;
}

/*carousel*/
.carousel {
    margin-top: 100px;
}

/*Lightroom*/
.bandeaubleu {
    background-color: #eafffb;
}

.bandeaubleu p {
    font-size: 25px;
}

.imgrondelight {
    border-radius: 250px;
    border: 15px solid #72cece;
}

.img img {
    height: 350px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.blocimg {
    margin-top: 100px;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.bloclight {
    width: 95%;
    background-color: #eafffb;
    align-items: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    height: fit-content;
}

.bloclight h3 {
    margin-top: 20px;
}

.blochome {
    display: flex;
}

.blochome h3 {
    margin-left: 20px;
}

.parag h4 {
    font-family: 'Poppins', sans-serif;
    color: red;
    font-size: 20px;
}

/*Bandeau darkroom*/
.bandeaudark {
    background-color: #000000;
}

.bandeaudark h3{
    color: white;
}
.bandeaudark p {
    font-size: 25px;
    align-self: baseline;
    color: white;
}

.textebottom img{
    height: 70px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 25px;
}
 

.imgrondedark {
    border-radius: 250px;
    border: 15px solid #430000;
}

.img img {
    height: 350px;
    margin-top: 25px;
    margin-bottom: 25px;
}

/*Battleroom*/
.bandeaubattle {
    background-color: #82FFE1;
}

.bandeaubattle p {
    font-size: 25px;
}

.imgrondebattle {
    border-radius: 250px;
    border: 15px solid #77807e;
}

.img img {
    height: 350px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.blocbattle {
    width: 95%;
    background-color: #82FFE1;
    align-items: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    height: fit-content;
}

.booking-form {
    height: 650px;
}


/*Bandeau Battleroom*/
.bandeaubattle {
    background-color: #CDFFF3;
}

.bandeaubattle p {
    font-size: 25px;
    align-self: baseline;
}

.textebottom img{
    height: 70px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 25px;
}
 

.imgrondebattle {
    border-radius: 250px;
    border: 15px solid #798F8B;
}

.img img {
    height: 350px;
    margin-top: 25px;
    margin-bottom: 25px;
}


/* Creative Room */
/*Bandeau CreativeRoom*/
.bandeaucrea {
    background-color: #F2F2F2;
}

.bandeaucrea p {
    font-size: 25px;
    align-self: baseline;
}

.textebottom img{
    height: 70px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 25px;
}
 

.imgrondecrea {
    border-radius: 250px;
    border: 15px solid #771261;
}

.img img {
    height: 350px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.backgroundcrea {
    height: 540px;
    background-image: url(../img/creaback.png);
    background-repeat: no-repeat;
    background-size: cover;
  }

.card-header img{
    width: 1915px;
    align-self: center;
}