html {
    scroll-behavior: smooth;
}

body {
    padding: 0;
    margin: 0;
    background-image: url(/public/img/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

.sensei-room{
    --bg-color: white;
    --bg-header: url(/public/img/Header_LightRoom.png);
    --bg-content: url(/public/img/Content_LightRoom.png);
    --transition-duration: 300ms;
}

.sensei-room.dark{
    --bg-color: #131313;
    --bg-header: url(/public/img/Header_DarkRoom.png);
    --bg-content: url(/public/img/Content_DarkRoom.png);
    --transition-duration: 300ms;
}

.sensei-room.battle{
    --bg-color: black;
    --bg-header: url(/public/img/Header_BattleRoom.png);
    --bg-content: url(/public/img/Content_CreativeRoom.png);
    --transition-duration: 300ms;
}

.sensei-room.creative{
    --bg-color: black;
    --bg-header: url(/public/img/Header_CreativeRoom.png);
    --bg-content: url(/public/img/Content_CreativeRoom.png);
    --transition-duration: 300ms;
}

.sensei-room .room-header{
    background-image: var(--bg-header);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--bg-color);
    height: 500px;
    transition: background-image var(--transition-duration), background-color var(--transition-duration);
}

.sensei-room .room-content{
    background-image: var(--bg-content);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--bg-color);
    height: 500px;
    transition: background-image var(--transition-duration), background-color var(--transition-duration);
}

.div-imgs-room {
    margin-top: 100px;
}

.div-img-room {
    height: 170px;
}

.img-room {
    height: 100%;

}

.img-room-principal {
    height: 100%;
}

#Home {
    scroll-margin-top: 71.6px;
}

.row {
    --bs-gutter-x: 0;
}

.labelConnection {
    height: 200px;
}

/*Pour tous les textes en général*/
h1 {
    display: flex;
    justify-content: space-around;
    font-size: 20px;
    color: black;
}

h2 {
    text-transform: uppercase;
    font-family: 'Amiko', sans-serif;
    color: #3B4040;
}

h3 {
    text-transform: uppercase;
    font-family: 'Amiko', sans-serif;
    color: #3B4040;
}

p {
    color: #646363;
    font-family: 'Abel', sans-serif;
    font-size: 25px;
}

/*Boutton découvrir*/
.discoverButton {
    height: 61px;
    width: 263px;
    border-radius: 15px;
    background-color: black;
    color: white;
    text-transform: uppercase;
    font-size: 28px;
}

.discoverhome {
    margin-top: 800px;
    margin-bottom: 100px;
}

/*description*/
.description {
    margin-top: 100px;
}

/*carousel*/
.carousel {
    margin-top: 100px;
}

/*Reservation*/
.booking-form {
    height: 650px;
}


.card-header img{
    width: 1915px;
    align-self: center;
}