body{
  background-image: url(img/background.png);
}

.navbar{
  background-color: rgba(255, 255, 255, 0.75) !important;
}

.navbrand img{
  width: 40px;
}

a{
  color: black !important;
  font-family: 'Amiko', sans-serif;
  text-transform: uppercase;
}

nav a + a:before{
  content: " | ";
  padding: 0 10px;
}

a:hover{
  transform:scale(1.06);
  transition: 100ms;
}