body{
  background-image: url(img/background.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar{
  background-color: rgba(255, 255, 255, 0.85) !important;
}

.navbrand img{
  width: 60px;
  margin-left: 40px;
}

.list{
  justify-content: right;
  padding-right: 40px !important;
  text-align: center;
}

.list span{
  margin-bottom: 6px;
}

a{
  color: black !important;
  font-family: 'Amiko', sans-serif;
  text-transform: uppercase;

}

a:hover{
  transform:scale(1.06);
  transition: 100ms;
}

.test:hover{
  transform:scale(1.06);
  transition: 100ms;
}
