body{
  padding: 0;
  margin: 0;
  background-image: url(img/background.png);
  background-repeat: no-repeat;
  background-size: cover;
}

/*NavBar*/
.navbar{
  background-color: rgba(255, 255, 255, 0.85) !important;
}

.navbar-nav{
  flex-direction: row !important;
}

.navbrand img{
  width: 66px;
  margin-left: 40px;
}

.list{
  justify-content: right;
  padding-right: 40px !important;
  text-align: center;
}

.list span{
  margin-bottom: 6px;
}

.navbarrr a{
  color: black !important;
  font-family: 'Amiko', sans-serif;
  text-transform: uppercase;
  margin-left: 5px !important;
  margin-right: 5px !important;
  text-decoration: none;
}

.navbarrr a:hover{
  transform: scale(1.06);
  transition: 100ms;
}

.test{
  border: none;
}

.NavLink{
  color: black !important;
  font-family: 'Amiko', sans-serif;
  text-transform: uppercase;
  font-size: 20px;
  margin-left: 5px !important;
  margin-right: 5px !important;
}

.test{
  border: none;
}

/*Form se connecter et s'inscrire*/
.popUpLog{
  --bs-popover-max-width: 427px !important;
}

.btnform a:hover{
  transform: scale(1.06);
  transition: 100ms;
}

.skib{
  margin-bottom: 50px;
}

/*Footer*/
.footer{
  background-color: #3B4040;
  display: flex;
  height: 150px;
  width: 100%;
  position: absolute;
  bottom: 0;
  align-items: center;
}

/*in general*/
h1{
  display: flex;
  justify-content: space-around;
  font-size: 20px;
  color: black;
}

h3{
  text-transform: uppercase;
  font-family: 'Amiko', sans-serif;
  color: #3B4040;
}

.blocimg{
  margin-top: 100px;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.blocgris{
  width: 95%;
  background-color: #F2F2F2;
  color: #646363;
  font-family: 'Abel', sans-serif;
  align-items: center;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  height: fit-content;
}

.blocgris h3{
  margin-top: 20px;
}

/*Home*/
.hero{
  height: 80vh;
}

.row{
  --bs-gutter-x: 0;
}

.discoverButton{
  height: 61px;
  width: 263px;
  border-radius: 15px;
  background-color: black;
  color: white;
  text-transform: uppercase;
  font-size: 28px;
}

.discoverButton:hover{
  background-color: black;
  color: white;
}

.blochome{
  display: flex;
}

.blochome h3{
  margin-left: 20px;
}

.parag p{
  font-size: 20px;
}

.blochome .title{
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
}

.reserve a{
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  color: #3B4040;
}

/*News*/
.head img{
  width: 100%;
}

.description .row .col{
  border-radius: 50%;
}

.image9{
  background-image: url(../src/img/image9.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.background{
  height: 540px;
  background-image: url(../src/img/image24.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.news{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 86.5%;
}

.news h1{
  font-family: 'Amiko', sans-serif; 
  font-weight: bold;
  font-size: 120px;
  color: white;
}

.blocimgnews{
  margin-top: 100px;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.blocgrisnews{
  width: 80%;
  background-color: #F2F2F2;
  color: #646363;
  font-family: 'Abel', sans-serif;
  align-items: center;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  text-align: center;
  height: fit-content;
}

.blocgrisnews h3{
  margin-top: 20px;
}

/* BtoB */

.backgroundBtoB{
  height: 540px;
  background-image: url(../src/img/bob.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.btob {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 86.5%;
}

.btob h1{
  font-family: 'Amiko', sans-serif; 
  font-weight: bold;
  font-size: 80px;
  color: white;
  height: 1%;
}
